################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ClassroomBot/BotService/Bot.Model/Bot.Model.csproj.user
