################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ClassroomBot/BotService/Bot.Model/Bot.Model.csproj.user
/EasyTeams/EasyTeams.Bot/.vscode
/TrainingOnboardingTeamsBot/Teams App/manifest.json
/TrainingOnboardingTeamsBot/TrainingOnboarding.Bot/appsettings.Development.json
/TrainingOnboardingTeamsBot/Teams App/manifest-dev.json
/TrainingOnboardingTeamsBot/Teams App/manifest-test.json
/artifacts
/TrainingOnboardingTeamsBot/DigitalTrainingAssistant.Bot/appsettings.Development.json
/TranslatorBot/src/Bot/TranslatorBot/appsettings.json
